

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#Home {
    background-color: darkcyan;
     padding: 15rem 0;
      height: 100%;
       border-bottom: solid 1px white;
}

.hero {
    display: flex; 
    align-items:center; 
    justify-content: center; 
    gap: 5rem;
}

.pic {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.144));
}

#Portfolio {
    height: 100%;
    padding: 10rem 1rem;
    background-color: darkcyan;
}



/* desktop */
@media only screen and (min-width: 768px) {
    .my-profile {
        background-color: black;
        border-radius: 10%;
        overflow: hidden;
        object-fit: fill;
    }

    .biboy {
        height: 100%;
        z-index: 0;
    }

    .meme {
        width: 45%;
    }

    .intro {
        font-size: 1.5rem;
    }
   
}


/* mobile */
@media only screen and (max-width: 767px) {


    #Home {
        background-color: darkcyan;
        padding: 8rem 0;
        height: 100%;
        border-bottom: solid 1px white;
    }

    .hero {
        display: grid;
        grid-template-columns: repeat(auto-fit, min-max(200, 1fr));
        align-items:center; 
        justify-content: center; 
        gap: 5rem;
        padding: 1rem;
    }

    .my-profile {
        background-color: black;
        border-radius: 10px !important;
        overflow: hidden;
        text-align: center;
    }

    .pic {
        height: 150px;
    }

    .nixs {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 1rem;
    }

    .biboy {
        height: 250px;
    }

    .intro {
        font-size: 1rem;
    }
}

#Aboutme {
    height: 100%;
    padding: 8rem 1rem 10rem 2rem;
    border-top: solid 1px white;
}

.ako2 {
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
}

.akonanaman {
   filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.308));
}

.aboutmee {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}


#footer {
    height: 100%;
    padding: 2rem 1rem 1px 1rem;
    background-color: black;
    color: white;
}

.everybody {
    max-width: 140rem;
    margin: 0 auto;
}

.haha {
    text-transform: capitalize;
}